In [1]:
import pandas as pd
import csv

In [2]:
result_fname = 'result.csv'

In [3]:
df = pd.read_csv(result_fname)
df

,style_id,code,label,processed
0,-5350093384733551968,"bar = another_long_function(arg_one, arg_two,\...",correct,True
1,-5350093384733551968,"baz = yet_another_function(param1, param2,\n ...",correct,True
2,-5350093384733551968,"qux = some_other_function(first_arg, second_ar...",correct,True
3,-5350093384733551968,"quux = a_different_function(argument1, argumen...",correct,True
4,-5350093384733551968,"corge = function_with_args(arg_a, arg_b,\n ...",correct,True
...,...,...,...,...
65,4378129113783147367,"filtered_data = filter_data(\n 'item1', 'it...",correct,True
66,4378129113783147367,processed_result = process_result(\n 'value...,correct,True
67,4378129113783147367,"output_data = generate_output(\n 'input_a',...",correct,True
68,4378129113783147367,final_result = compute_final_result(\n 'arg...,correct,True
69,4378129113783147367,processed_output = process_output(\n 'data_...,correct,True

In [4]:
df = df[df['processed'] == True]
df

,style_id,code,label,processed
0,-5350093384733551968,"bar = another_long_function(arg_one, arg_two,\...",correct,True
1,-5350093384733551968,"baz = yet_another_function(param1, param2,\n ...",correct,True
2,-5350093384733551968,"qux = some_other_function(first_arg, second_ar...",correct,True
3,-5350093384733551968,"quux = a_different_function(argument1, argumen...",correct,True
4,-5350093384733551968,"corge = function_with_args(arg_a, arg_b,\n ...",correct,True
...,...,...,...,...
65,4378129113783147367,"filtered_data = filter_data(\n 'item1', 'it...",correct,True
66,4378129113783147367,processed_result = process_result(\n 'value...,correct,True
67,4378129113783147367,"output_data = generate_output(\n 'input_a',...",correct,True
68,4378129113783147367,final_result = compute_final_result(\n 'arg...,correct,True
69,4378129113783147367,processed_output = process_output(\n 'data_...,correct,True

In [5]:
df = df.set_index('style_id')
df

,code,label,processed
style_id,,,
-5350093384733551968,"bar = another_long_function(arg_one, arg_two,\...",correct,True
-5350093384733551968,"baz = yet_another_function(param1, param2,\n ...",correct,True
-5350093384733551968,"qux = some_other_function(first_arg, second_ar...",correct,True
-5350093384733551968,"quux = a_different_function(argument1, argumen...",correct,True
-5350093384733551968,"corge = function_with_args(arg_a, arg_b,\n ...",correct,True
...,...,...,...
4378129113783147367,"filtered_data = filter_data(\n 'item1', 'it...",correct,True
4378129113783147367,processed_result = process_result(\n 'value...,correct,True
4378129113783147367,"output_data = generate_output(\n 'input_a',...",correct,True
4378129113783147367,final_result = compute_final_result(\n 'arg...,correct,True
4378129113783147367,processed_output = process_output(\n 'data_...,correct,True

In [6]:
df.to_csv(result_fname, mode='w', index=True, quoting=csv.QUOTE_ALL)